@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

.footer {
  display: grid;
  grid-template-areas: 'logo about rules contacts .';
  grid-template-columns: 15% 20% 20% 45%;
  gap: 20px;

  min-height: 350px;

  margin-top: 75px;
  border-top: 1px solid $color-wh-platinum;
  overflow: clip;

  padding: 2rem 0;

  section {
    width: 100%;

    font-size: 1.1em;
    text-align: left;
    line-height: 2;

    h5 {
      display: block;
      font-size: 1.4em;
    }
  }

  @include media($size-tablet) {
    grid-template-areas:
      'logo .'
      'about rules'
      'contacts .';
    gap: 30px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px repeat(2, max-content);

    padding: 0 5rem;
    padding-bottom: 2rem;

    font-size: 1.3rem;

    section {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }
  }

  @include media($size-mobile) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: max-content;

    padding: 1rem;
    margin: 0 auto;

    font-size: 1.3rem;
  }
}

.footerLogo {
  grid-area: logo;

  @include media($size-mobile) {
    svg {
      display: none;
    }
  }
}

.footer__about {
  grid-area: about;
}

.footer__rules {
  grid-area: rules;
}

.footer__contacts {
  grid-area: contacts;
}
