@use '@styles/settings/index' as *;

.header {
  display: flex;
  align-items: center;
  gap: 20px;

  height: 70px;

  overflow: clip;

  border-bottom: 1px solid $color-wh-platinum;
}

/* .header__nav {} */

/* .header__navList {} */
/**/
/* .header__navItem {} */
