/* -------------------------------------------------- black -------------------------------------------------- */
$blck-chocolate: #181c14; // chocolate
$blck-rich: #040d12; // rich black
$blck-gunmetal: #2b3137; // gunmetal

/* -------------------------------------------------- white -------------------------------------------------- */
$wh-cultured: #f5f5f5; // cultured
$wh-bone: #eae4dd; // bone
$wh-lightsilv: #d5dadd; // light silver
$wh-silver: #c0c0c0; // silver
$wh-platinum: #e4e4e4; // platinum
$wh-oldsilv: #848482; // old silver

/* -------------------------------------------------- blue -------------------------------------------------- */
$blu-navy: #1e2a5e; // navy blue
$blu-gray: #295f98; // gray blue
$blu-dark-gray: #31363f; // dark gray blue
$blu-indigo: #1e3a5f; // indigo blue
$blu-dasl: #2f4858; // dark slate gray
$blu-indep: #485a73; // independence blue

$blu-argentinian: #6cb4ee; // argentinian blue
$blu-defrance: #318ce7; // blue de france

/* -------------------------------------------------- green -------------------------------------------------- */
$gr-charleston: #222831; // charleston green
$gr-ao: #008000; // ao (english for green)

$gr-medbud: #c8e59b; // medium spring bud
$gr-yellow: #bee97c; // yellow green
$gr-dur: #5a9a5c; // dump green 
$gr-nyanza: #ecffdc; // nyanza
$gr-palebud: #e5ffbb; // pale spring bud
$gr-bangl: #04724d; // bangladesh green
$gr-ocean: #4bbc8e; // ocean green
$gr-deepfir: #143e00; // deep fir
$gr-christi: #69a015; // christi green
$gr-sushi: #8db84e; // sushi green
$gr-pastel: #75a959; // pastel green
$gr-confire: #9bcf53; // conifer green
$gr-sulu: #969a8f; // sulu green

/* -------------------------------------------------- yellow -------------------------------------------------- */
$color-yell-banana: #ffe234; // banana yellow
$color-yell-brightsun: #ffd43b; // bright sun yellow

/* -------------------------------------------------- red -------------------------------------------------- */
$rd-spink: #ffbfbf; // spanish pink
$rd-decapink: #ff3131; // deep carmine pink
$rd-suncycl: #f84147; // sunburnt cyclops

/* -------------------------------------------------- purple -------------------------------------------------- */
$prpl-iris: #5d3fd3; // iris purple
